@font-face {
  font-family: "simpo";
  src: url("../fonts/simpo.ttf");
}
@font-face {
  font-family: "DaysOne";
  src: url("../fonts/DaysOne-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  background: url("../images/background-5.png") no-repeat;
  background-size: cover;
  padding: 0 2rem;
  position: relative;
}
@media (max-width: 992px) {
  body {
    padding: 1rem;
  }
}
body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
body::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
body::-webkit-scrollbar-thumb {
  background-color: #1B1435;
  outline: 1px solid #1B1435;
  border-radius: 11px;
}

a {
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 0;
  top: 10%;
  width: 8%;
}

.main-wrapper {
  position: relative;
}
@media (min-width: 2000px) {
  .main-wrapper .wrapper {
    justify-content: center !important;
  }
}
.main-wrapper .form-container {
  background: #E2E2E2;
  box-shadow: -11px 8px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  padding: 2rem 2rem 2rem 20%;
  margin: 1rem 2rem 0;
  height: 100%;
  width: 85%;
}
.main-wrapper .form-container h3 {
  font-weight: normal;
  font-size: 2rem;
  font-family: "DaysOne", sans-serif;
}
.main-wrapper .form-container form {
  margin-top: 1.5rem;
  font-family: "simpo", sans-serif;
}
.main-wrapper .form-container form .form-group {
  margin: 0.5rem 0;
}
.main-wrapper .form-container form .form-group label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.main-wrapper .form-container form .form-group .form-control {
  border: none;
  border-radius: 17px;
  min-height: 40px;
}
.main-wrapper .form-container form .form-group .form-control:focus {
  box-shadow: none;
}
.main-wrapper .form-container form .button-container button {
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  position: relative;
}
.main-wrapper .form-container form .button-container button.send-btn {
  background: linear-gradient(#6306DE, #4D0083);
  color: #FFFFFF;
  z-index: 2;
  padding: 0.1rem 2rem;
}
.main-wrapper .form-container form .button-container button:focus {
  box-shadow: none;
}
.main-wrapper .form-container form .button-container .back-btn {
  color: #5C04C3;
  background: transparent;
  border: 1px solid #5C04C3;
  margin-top: 1rem;
  margin-left: -1rem;
  padding: 0 2rem;
  border-radius: 8px;
}
.main-wrapper .form-container form .button-container .back-btn:focus {
  box-shadow: none;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main-wrapper .form-container {
    padding: 2rem 2rem 2rem 27%;
  }
}
@media (max-width: 992px) {
  .main-wrapper .form-container {
    width: 100%;
    margin: 1rem 0;
    padding: 2rem;
  }
}
@media (min-width: 1920px) {
  .main-wrapper .form-container {
    padding: 2rem 2rem 2rem 12%;
    margin-top: 3rem;
  }
  .main-wrapper .form-container h3 {
    font-size: 2.5rem;
  }
  .main-wrapper .form-container label {
    font-size: 1.5rem !important;
  }
  .main-wrapper .form-container .form-control {
    min-height: 60px !important;
  }
  .main-wrapper .form-container .button-container {
    margin-top: 2rem;
  }
  .main-wrapper .form-container .button-container button {
    font-size: 1.5rem !important;
  }
  .main-wrapper .form-container .button-container .back-btn {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1920px) and (max-width: 2300px) {
  .main-wrapper .form-container {
    padding: 2rem 2rem 2rem 15%;
  }
}
@media (min-width: 2000px) {
  .main-wrapper .form-container {
    width: 65%;
  }
}
@media (min-width: 2000px) {
  .main-wrapper .form-container {
    width: 60%;
  }
}
.main-wrapper .contact-info {
  background: #FFFFFF;
  box-shadow: 9px 9px 6px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  padding: 3rem;
  position: absolute;
  top: 10%;
  left: 2rem;
  color: #6500E9;
}
.main-wrapper .contact-info h3 {
  font-weight: normal;
  font-size: 1.75rem;
  font-family: "DaysOne", sans-serif;
}
.main-wrapper .contact-info .details {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrapper .contact-info .details .detail {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "simpo", sans-serif;
}
.main-wrapper .contact-info .details .detail i {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.main-wrapper .contact-info .details .detail a {
  color: #6500E9;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main-wrapper .contact-info {
    left: 1rem;
  }
}
@media (max-width: 992px) {
  .main-wrapper .contact-info {
    position: static;
    margin-top: 2rem;
  }
}
@media (min-width: 1920px) {
  .main-wrapper .contact-info {
    left: 0;
    top: 14%;
  }
  .main-wrapper .contact-info h3 {
    font-size: 2.25rem;
  }
  .main-wrapper .contact-info .details .detail {
    font-size: 1.25rem;
  }
  .main-wrapper .contact-info .details .detail i {
    font-size: 2rem;
  }
}
@media (min-width: 2000px) {
  .main-wrapper .contact-info {
    left: 11%;
  }
}
@media (min-width: 2500px) {
  .main-wrapper .contact-info {
    left: 14%;
  }
}
.main-wrapper .copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  color: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
}
.main-wrapper .copyright .icon {
  margin-right: 0.5rem;
  font-size: 2.5rem;
}
@media (min-width: 1920px) {
  .main-wrapper .copyright .icon {
    font-size: 3rem;
    margin-top: 1rem;
  }
}
@media (max-width: 992px) {
  .main-wrapper .copyright .icon {
    font-size: 1.5rem;
  }
}
.main-wrapper .copyright .text {
  font-weight: bold;
  font-size: 1rem;
}
@media (min-width: 1920px) {
  .main-wrapper .copyright .text {
    font-size: 1.25rem;
  }
}
@media (max-width: 992px) {
  .main-wrapper .copyright .text {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=contact.css.map */
