
.icon-construction:before { content: '\e800'; } /* '' */
.icon-fuel:before { content: '\e801'; } /* '' */
.icon-logistics:before { content: '\e802'; } /* '' */
.icon-imr:before { content: '\e803'; } /* '' */
