@font-face {
  font-family: 'SegoeUi';
  src: url("../fonts/SegoeUI.ttf");
}

@font-face {
  font-family: 'simpo';
  src: url("../fonts/simpo.ttf");
}

@font-face {
  font-family: 'Titr';
  src: url("../fonts/Titr.ttf");
}

@font-face {
  font-family: 'khodkar';
  src: url("../fonts/phalls_khodkar.ttf");
}

@font-face {
  font-family: 'ArialNova';
  src: url("../fonts/ArialNova.ttf");
}

@font-face {
  font-family: 'Audiowide';
  src: url("../fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: 'DaysOne';
  src: url("../fonts/DaysOne-Regular.ttf");
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  background: #FFFFFF;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #FFFFFF;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1B1435;
    outline: 1px solid #1B1435;
    border-radius: 11px;
  }
}

.home-wrapper {
  background: url("../images/background-1.png") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    background: #1B1435;
  }

  .home-content {
    margin: auto 0;
    padding: 0 5rem;
    color: #FFFFFF;
    width: 55%;

    h1 {
      font-size: 3.5rem;
      font-family: 'SegoeUi', sans-serif;
      font-weight: 600;
    }

    .short-desc {
      font-size: 1.5rem;
      font-family: 'simpo', sans-serif;
    }

    .text-wrapper {
      margin-left: 7.5rem;
      background: #FFFFFF;
      border-radius: 15px;
      color: #1B1435;
      padding: .25rem .5rem;
      font-weight: bold;
      width: 70%;
      font-family: 'Titr', sans-serif;

      a {
        background: #1B1435;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, .43);
        border-radius: 10px;
        color: #FFFFFF;
        text-decoration: none;
        font-size: .75rem;
        padding: 0 .5rem .1rem;
        margin-left: 1rem;
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Titr', sans-serif;
        font-weight: normal;

        @media (max-width: 992px) {
          padding: .1rem .5rem;
        }
      }

      @media (min-width: 2000px) {
        width: 60%;
      }
    }

    @media (max-width: 992px) {
      width: 100%;

      h1 {
        font-size: 2.5rem;
      }

      .text-wrapper {
        margin-left: 0;
        width: 100%;
        margin-top: 1rem;
      }
    }

    @media (max-width: 576px) {
      padding: 0 1rem;
    }

    @media (min-width: 1200px) {
      .text-wrapper {
        margin-top: -1.5rem;
      }
    }

    @media (min-width: 1920px) {
      h1 {
        font-size: 4.5rem;
      }

      .short-desc {
        font-size: 2.5rem;
      }

      .text-wrapper {
        padding: .5rem 1rem;
        font-size: 1.5rem;
        //width: 80%;
        margin-left: 13rem;

        a {
          font-size: 1.25rem;
          padding: 0 .75rem;
        }
      }
    }
  }

  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: #FFFFFF;
  }
}

.descriptions-wrapper {
  padding: 2rem;
  position: relative;

  .background {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .wrapper {
    position: relative;
    z-index: 3;
    padding: 1rem;
    margin: 2rem 0;

    h5 {
      margin: 2rem 0;
      font-size: 1.25rem;
      font-weight: bolder;
      font-family: 'khodkar', sans-serif;
    }

    p {
      font-size: 1rem;
      color: #9C9C9C;
      font-family: 'simpo', sans-serif;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: 1920px) {
      img {
        width: 50%;
      }

      h5 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}

.image-wrapper {
  background: #1B1435;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  position: relative;

  .background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8%;
  }

  @media (max-width: 992px) {
    padding: 6rem;
  }

  @media (max-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1920px) {
    img {
      width: 75%;
    }
  }
}

.chart-wrapper {
  margin-top: 2rem;
  padding: 4rem 2rem;

  img {
    width: 100%;
  }

  h5 {
    font-weight: bolder;
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'khodkar', sans-serif;

    @media (max-width: 530px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.1rem;
    color: #9C9C9C;
    margin-top: 1.5rem;
    font-family: 'simpo', sans-serif;

    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }

  @media (min-width: 1920px) {
    h5 {
      font-size: 3rem;
    }

    p {
      font-size: 1.75rem;
    }
  }
}

.packages-wrapper {
  margin-top: 4rem;
  padding: 4rem 2rem;

  h5 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'khodkar', sans-serif;

    @media (min-width: 1920px) and (max-width: 2100px) {
      &.heading {
        min-width: 25%;
      }
    }

    @media (max-width: 530px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.1rem;
    color: #9C9C9C;
    margin-left: 1rem;
    font-family: 'simpo', sans-serif;

    @media (max-width: 992px) {
      margin-left: 0;
      font-size: 1rem;
    }
  }

  .content-container {
    padding: 2rem;

    .wrapper {
      background: #6500E9;
      box-shadow: 4px 6px 4px rgba(0, 0, 0, .16);
      border: 1px solid #707070;
      border-radius: 20px;
      color: #FFFFFF;
      margin: 0 3rem;
      height: 100%;

      img {
        width: 100%;
      }

      .desc {
        padding: .5rem;

        h5 {
          margin: 1rem 0;
          font-size: 1.5rem;
          font-weight: bold;
          font-family: 'khodkar', sans-serif;
        }

        ul {
          padding-left: 1.4rem;

          li {
            margin: .5rem 0;
            font-size: 1rem;
            font-family: 'simpo', sans-serif;
          }
        }
      }

      @media (min-width: 992px) {
        margin: 0;
      }

      @media (min-width: 1390px) {
        margin: 0 3rem;
      }

      @media (max-width: 1390px) {
        margin: 0 1.5rem;
      }

      @media (max-width: 1200px) {
        margin: 0 .5rem;
      }

      @media (max-width: 992px) {
        border-radius: 25px;
      }

      @media (max-width: 768px) {
        border-radius: 38px;
      }
    }
  }

  @media (min-width: 1920px) {
    h5 {
      font-size: 3rem;
    }

    p {
      font-size: 1.75rem;
    }

    .content-container {
      .wrapper {
        border-radius: 35px;
        margin: 0 3.5rem;

        .desc {
          h5 {
            font-size: 2rem;
          }

          ul {
            padding-left: 2rem;

            li {
              font-size: 1.75rem;
            }
          }
        }
      }
    }
  }

  @media (min-width: 2500px) {
    .content-container {
      .wrapper {
        margin: 0 8rem;
      }
    }
  }
}

.about-wrapper {
  position: relative;
  padding: 6rem 6rem 3rem;
  background: linear-gradient(to bottom right, #6500E9, #4F0075);

  @media (max-width: 768px) {
    padding: 4rem;
  }

  @media (max-width: 576px) {
    padding: 2rem;
  }

  .description-cards {
    display: flex;
    position: relative;

    .card-wrapper {
      background: #FFFFFF;
      box-shadow: -12px 9px 6px rgba(0, 0, 0, .16);
      border-radius: 15px;
      padding: 2rem;
      width: 75%;
      position: relative;
      z-index: 3;
      font-family: 'ArialNova', sans-serif;

      @media (min-width: 2000px) {
        width: 55%;
        margin-left: 12%;
      }

      h4 {
        padding-left: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;

        @media (min-width: 1920px) {
          font-size: 1.75rem;
        }

        &.second {
          margin-top: 4rem;
        }
      }

      h4, p {
        text-shadow: 7px 8px 6px rgba(0, 0, 0, .16);
      }

      p {
        font-size: 1rem;

        @media (min-width: 1920px) {
          font-size: 1.5rem;
        }
      }

      @media (max-width: 992px) {
        padding: 1rem;

        h4 {
          font-size: 1rem;
          padding-left: 0;
        }

        p {
          font-size: .75rem;
        }
      }
    }

    .contact-wrapper {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      .contact {
        background: #FFFFFF;
        border: 1px solid #707070;
        box-shadow: 6px 5px 6px rgba(0, 0, 0, .16);
        border-radius: 25px;
        padding: .5rem 1rem;

        a {
          text-decoration: none;
          color: #6500E9;
          position: relative;
          z-index: 11;
          font-family: 'DaysOne', sans-serif;
          font-size: 1rem;
        }

        span, i {
          font-size: 1rem;

          @media (min-width: 1920px) {
            font-size: 1.5rem;
          }
        }

        @media (min-width: 2000px) {
          margin-left: 12%;
        }
      }

      .text {
        color: #FFFFFF;
        text-shadow: 7px 8px 6px rgba(0, 0, 0, .16);
        padding-left: 1rem;
        font-size: 1rem;
        font-family: 'ArialNova', sans-serif;

        @media (min-width: 1920px) {
          font-size: 1.5rem;
        }
      }

      @media (max-width: 992px) {
        .contact {
          a {
            span {
              font-size: .75rem;
            }

            i {
              font-size: .9rem;
            }
          }
        }

        .text {
          font-size: .9rem;
        }
      }
    }

    .about-card {
      background: #E2E2E2;
      border-radius: 10px;
      box-shadow: -11px 8px 6px rgba(0, 0, 0, .16);
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 35%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 8%;
      z-index: 1;

      h3 {
        font-size: 2.5rem;
        font-weight: normal;
        font-family: 'Audiowide', sans-serif;

        @media (min-width: 1920px) {
          font-size: 4rem;
        }
      }

      p {
        font-size: 1.25rem;
        font-family: 'simpo', sans-serif;

        @media (min-width: 1920px) {
          font-size: 1.75rem;
        }
      }

      hr {
        background: #000;
        height: 3px;
        opacity: 1;
      }

      @media (max-width: 1200px) {
        padding: 2rem;

        h3 {
          font-size: 2.25rem;
        }
      }

      @media (min-width: 1920px) {
        margin-right: 6rem;
      }

      @media (min-width: 2000px) {
        right: 6%;

        div {
          position: absolute;
          left: 50%;
        }
      }

    }

    .copyright {
      position: absolute;
      bottom: -2rem;
      right: 1rem;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      font-family: 'Ubuntu', sans-serif;

      .icon {
        margin-right: .5rem;
        font-size: 2rem;

        @media (min-width: 1920px) {
          font-size: 3rem;
        }

        @media (max-width: 992px) {
          font-size: 1.5rem;
        }
      }

      .text {
        font-weight: bold;
        font-size: .75rem;

        @media (min-width: 1920px) {
          font-size: 1.1rem;
        }

        @media (max-width: 992px) {
          font-size: .5rem;
        }
      }
    }

    @media (max-width: 992px) {
      flex-direction: column-reverse;

      .card-wrapper {
        width: 100%;
      }

      .about-card {
        position: static;
        width: auto;
        align-items: center;
      }
    }
  }

  .flame {
    position: absolute;
    left: 0;
    bottom: 15%;
    z-index: 5;
    width: 8%;

    @media (min-width: 992px) {
      width: 9%;
    }

    @media (min-width: 1300px) {
      width: 8%;
    }

    @media (max-width: 992px) {
      width: 12%;
    }

    @media (max-width: 768px) {
      width: 10%;
    }

    @media (max-width: 576px) {
      display: none;
    }

    @media (min-width: 1550px) and (max-width: 1920px) {
      width: 6%;
    }

    @media (min-width: 1920px) {
      width: 5.5%;
    }

    @media (min-width: 2200px) {
      width: 5%;
    }

    @media (min-width: 2500px) {
      width: 4%;
    }

    @media (min-width: 3000px) {
      width: 3.5%;
    }
  }

  .logo {
    position: absolute;
    left: 0;
    top: 10%;
    width: 5%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
  }
}
